* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.text {
    top: 0%;
    left: 0%;
    color: #022b3b;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    position: absolute;
}

.buttonStyle {
    background-color: #00bd74;
    border: none;
    color: white;
    padding: 100px 200px;
    top: 50%;
    left: 25%;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 150px;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle {
    background-color: #025951;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 28%;
    left: 2%;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle2 {
    background-color: #047a6f;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 36%;
    left: 2%;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle3 {
    background-color: #0bac9c;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 44%;
    left: 2%;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 0 0;
    cursor: pointer;
}

.errorMessage {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 20%;
    right: 10%;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 0 0;
    cursor: pointer;
}