 body {
     background-color: black;
 }
 
 .buttons {
     width: auto;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }
 
 .button {
     margin: 5px 5px;
     background-color: white;
     color: black;
     border: none;
     height: 50px;
     width: 500px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }