* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

.text {
    top: 0%;
    left: 0%;
    color: #022b3b;
    background-color: rgb(0, 0, 0);
    font-size: 2vw;
    position: absolute;
}

.buttonText {
    color: white;
    position: absolute;
    text-align: right;
    font-size: 0.8vw;
    margin: 0 0;
    right: 3vw;
    bottom: 3vw;
}

.prestigePower {
    color: white;
    position: absolute;
    text-align: center;
    align-items: center;
    font-size: 0.8vw;
    margin: 0% 0%;
    right: 3.5vw;
    bottom: 33vw;
    animation: txt 5s ease-out infinite normal;
}

@keyframes txt {
    0% {
        transform: rotate(-24deg);
    }
    25% {
        transform: rotate(-31deg);
    }
    50% {
        transform: rotate(-24deg);
    }
    75% {
        transform: rotate(-31deg);
    }
    100% {
        transform: rotate(-24deg);
    }
}

.buttonStyle {
    background-color: transparent;
    border: none;
    color: transparent;
    padding: 100%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle {
    background-color: #025951;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 1vw;
    left: 1vw;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle2 {
    background-color: #047a6f;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 11vw;
    left: 1vw;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle3 {
    background-color: #0bac9c;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 21vw;
    left: 1vw;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle4 {
    background-color: #0ecdba;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 31vw;
    left: 1vw;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle5 {
    background-color: #1bedd8;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 41vw;
    left: 1vw;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle6 {
    background-color: #45fbe9;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 51vw;
    left: 1vw;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 0 0;
    cursor: pointer;
}

.upgradeStyle7 {
    background-color: #50f6e5;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 61vw;
    left: 1vw;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 0 0;
    cursor: pointer;
}

.errorMessage {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px 20px;
    top: 2vw;
    right: 2vw;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 0 0;
    cursor: pointer;
}

.CPSDisplay {
    border: none;
    color: white;
    padding: 10px 20px;
    top: 0%;
    left: 50%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.5vw;
    margin: 0 0;
    cursor: pointer;
}

.AllTimeMoney {
    border: none;
    color: white;
    padding: 10px 20px;
    top: 1vw;
    left: 50%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.5vw;
    margin: 0 0;
    cursor: pointer;
}

.RawCPS {
    border: none;
    color: white;
    padding: 10px 20px;
    top: 2vw;
    left: 50%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.5vw;
    margin: 0 0;
    cursor: pointer;
}

.ATMBar {
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    right: 5vw;
    bottom: 5vw;
    height: 30vw;
    width: 3vw;
    border-radius: 1vw;
    background-color: rgb(37, 37, 37);
}

.ATMBarProgress {
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    display: inline-flex;
    width: 3vw;
    height: 10vw;
    border-radius: 1vw;
    background-color: violet;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}


/* Force scrollbars onto browser window */

body {
    margin-bottom: 200%;
}


/* Box styles */

.upgradeBox {
    top: 20%;
    position: absolute;
    border: none;
    padding: 5px;
    font: 1.2vw/36px sans-serif;
    width: 20vw;
    height: 40vw;
    overflow-y: scroll;
}


/* Scrollbar styles */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #22e6d2;
}

::-webkit-scrollbar-thumb:hover {
    background: #27c0b0;
}