/*
WORKING DO NOT TOUCH!!!
Frix63
*/

.upgradeStyle {
    min-width: 270px;
    max-width: 270px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(12px, 1.5vh, 19px);
    margin-bottom: 2px;
    margin-left: 7px;
    cursor: pointer;
}

.upgradeStyle2 {
    min-width: 270px;
    max-width: 270px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(12px, 1.5vh, 19px);
    margin-bottom: 2px;
    margin-left: 7px;
    cursor: pointer;
}

.upgradeStyle3 {
    min-width: 270px;
    max-width: 270px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(12px, 1.5vh, 19px);
    margin-bottom: 2px;
    margin-left: 7px;
    cursor: pointer;
}

.upgradeStyle4 {
    min-width: 270px;
    max-width: 270px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(12px, 1.5vh, 19px);
    margin-bottom: 2px;
    margin-left: 7px;
    cursor: pointer;
}

.upgradeStyle5 {
    min-width: 270px;
    max-width: 270px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(12px, 1.5vh, 19px);
    margin-bottom: 2px;
    margin-left: 7px;
    cursor: pointer;
}

.upgradeStyle6 {
    min-width: 270px;
    max-width: 270px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(12px, 1.5vh, 19px);
    margin-bottom: 2px;
    margin-left: 7px;
    cursor: pointer;
}

.upgradeStyle7 {
    min-width: 270px;
    max-width: 270px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(12px, 1.5vh, 19px);
    margin-bottom: 2px;
    margin-left: 7px;
    cursor: pointer;
}