.Basement {
    display: block;
    margin: 0vw 0vh;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    height: 100%;
    width: 100%;
    z-index: -2;
    pointer-events: none;
}

.SDef {
    transform-origin: center;
    display: block;
    margin: 0 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;
    left: 0%;
    bottom: 0;
    transform: scale(70%);
    filter: drop-shadow(0 0 50px white);
    z-index: -1;
    pointer-events: none;
    animation: shadower 6s ease-in-out normal infinite;
    transition: all 0.1s ease-in-out;
}

@keyframes shadower {
    0% {
        filter: drop-shadow(0 0 50px white);
    }
    50% {
        filter: drop-shadow(0 0 100px white);
    }
    100% {
        filter: drop-shadow(0 0 50px white);
    }
}

.Anim {
    transform-origin: center;
    display: block;
    margin: 0 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;
    left: 0%;
    bottom: 0;
    transform: scale(72%);
    filter: drop-shadow(0 0 50px white);
    z-index: -1;
    pointer-events: none;
    animation: shadower 6s ease-in-out normal infinite;
    transition: all 0.1s ease-in-out;
}

@keyframes shadower {
    0% {
        filter: drop-shadow(0 0 50px white);
    }
    50% {
        filter: drop-shadow(0 0 100px white);
    }
    100% {
        filter: drop-shadow(0 0 50px white);
    }
}